
   
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
#map {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 97.5%;
  height: 97.5%
}

.map-overlay {
  position: absolute;
  left: 0;
  padding: 10px;
}